In [1]:
!pip install sqlalchemy psycopg2-binary pandas pyarrow fastavro

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.11/dist-packages (18.1.0)
Requirement already satisfied: fastavro in /usr/local/lib/python3.11/dist-packages (1.11.1)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
from sqlalchemy import create_engine
import pandas as pd

connection_string = "postgresql://neondb_owner:npg_Aa7PyehLS4JQ@ep-twilight-sun-a89hbswt-pooler.eastus2.azure.neon.tech/neondb?sslmode=require"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Check tables available in your database
from sqlalchemy import inspect
inspector = inspect(engine)
print(inspector.get_table_names())

['students']

In [3]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

['students']

In [6]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS students (
            id SERIAL PRIMARY KEY,
            name VARCHAR(100),
            age INTEGER,
            department VARCHAR(100)
        );
    """))
    conn.commit()

In [21]:
with engine.connect() as conn:
    conn.execute(text("""
        INSERT INTO students (name, age, department) VALUES
        ('Alice', 21, 'CSE'),
        ('bob', 22, 'ECE'),
        ('charlie', 20, 'ME');
    """))
    conn.commit()

In [22]:
import pandas as pd

df = pd.read_sql("SELECT * FROM students", engine)
df.head()

   id     name  age department
0   1    Alice   21        CSE
1   2      Bob   22        ECE
2   3  Charlie   20         ME
3   4    Alice   21        CSE
4   5      Bob   22        ECE

In [9]:
df.to_csv("employees.csv", index=False)

In [10]:
df.to_parquet("employees.parquet", engine='pyarrow')

In [11]:
from fastavro import writer, parse_schema

schema = {
    "doc": "Student record",
    "name": "Student",
    "namespace": "example.avro",
    "type": "record",
    "fields": [
        {"name": "id", "type": "int"},
        {"name": "name", "type": "string"},
        {"name": "age", "type": "int"},
        {"name": "department", "type": "string"}
    ]
}

parsed_schema = parse_schema(schema)
records = df.to_dict(orient="records")

with open("students.avro", "wb") as out:
    writer(out, parsed_schema, records)

In [12]:
import time

def export_job():
    df = pd.read_sql("SELECT * FROM students", engine)
    df.to_csv("students.csv", index=False)
    df.to_parquet("students.parquet", index=False)
    print("Export complete!")

# Simulate running every 60 seconds
for _ in range(1):
    export_job()
    time.sleep(60)

Export complete!